body {
    background-color: #ffe4ec;
    text-align: center;
    font-family: Arial;

}
#catImg {
  display: none;
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
}
body {
  text-align: center;
}
